:root {
  --header-height: 64px;
  --footer-height: 232.39px; // For compute only, no use in footer
}

.n-gradient-text {
  div {
    white-space: initial;
  }
}

.n-dialog {
  .n-dialog__title {
    .n-dialog__icon {
      display: none;
    }
  }
  .n-dialog__content {
    .n-input {
      margin: 0.5em 0;
    }
  }
}

// .n-dialog-show-icon {
//   .n-dialog__title {
//     .n-dialog__icon {
//       display: unset !important;
//     }
//   }
// }
